/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	display: inline-block;
	text-decoration: none;
	width: 192px;

	@include breakpoint-down(small-desktop) {
		width: 150px;	
	}

	> img {
		display: block;
		width: 100%;
	}
}
