/* ------------------------------------------------------------ *\
	Menu Toggle
\* ------------------------------------------------------------ */

.menu-toggle {
	position: relative;
	z-index: 25;

	span {
		display: block;
		width: 30px;
		height: 4px;
		background-color: $c-black;
		transition-property: background-color, transform;
		transition-duration: $t-duration;
	}

	span + span {
		margin-top: 5px;
	}
}

.menu-toggle.is-active {
	span:first-child {
		transform: translateY(9px) rotate(45deg);
	}

	span:nth-child(2) {
		transform: translateX(100vw);
	}

	span:last-child {
		transform: translateY(-9px) rotate(-45deg);
	}
}
