/* ------------------------------------------------------------ *\
	Section Gallery
\* ------------------------------------------------------------ */

.section-gallery {
	margin-block: 50px;
	
	.section__inner {
		display: flex;
		gap: 20px;

		@include breakpoint-down(small-desktop) {
			flex-direction: column;
		}
	}

	.section__aside {
		width: 15%;

		@include breakpoint-down(small-desktop) {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.section__body {
		width: 85%;

		@include breakpoint-down(small-desktop) {
			width: 100%
		}
	}
}
