/* ------------------------------------------------------------ *\
	Section Gallery
\* ------------------------------------------------------------ */

.section-gallery {
	margin-block: 50px;
	
	.section__inner {
		display: flex;
		gap: 20px;
	}

	.section__aside {
		width: 15%;
	}

	.section__body {
		width: 85%;
	}
}
